body {
    font-size: .95em;
    color: #333;
    font-family: Inter,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen,Ubuntu,Cantarell,'Fira Sans','Droid Sans','Helvetica Neue',sans-serif;
    font-feature-settings: 'case','ss01','ss04'
}